.logo {
  width: 50px !important;
  margin-bottom: 48px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.title {
  font-weight: 600;
  margin-bottom: 25px;
  color: white;
}

.btn {
  width: 280px;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 700;
  border-radius: 9999px;
  cursor: pointer;
  margin: 0 ;               
  display: block;
}

/* bouton plein blanc */
.signin {
  background: white;
  color: black;
  border: none;
  margin-top: 8px;
}
