.tweet {
  border-bottom: 1px solid #28313b;
  border-top: 1px solid #28313b;
  padding: 1rem 0;
  padding-left: 20px;
  color: white;
  font-family: 'Arial', sans-serif;
}

.header {
  font-size: 0.9rem;
  color: #8899a6;
  margin: 5px;
  margin-bottom: 4px;
  display: flex;
   align-items: center; 
}

.name {
  margin-left: 10px;
   color: #fff;
}

.username {
margin-left: 10px;
  color: #555;
}

.date {
  margin-left: 8px;
  color: #555;
}

.content {
  font-size: 1rem;
}

.userLogo {
border-radius: 20px;
}